<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bloodbath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02AA4C9F1E89EE32008596BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02AA4CB31E89EE33008596BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02AA4CBE1E89EE33008596BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
